export(.getTable.rror)
export(.getTable.rrsc)
export(.getTable.rrsi)
export(.getTable.rrstr)
export(.rr.score.asymp)
export(.summarytable.rror)
export(.summarytable.rror.html)
export(.summarytable.rror.tex)
export(.summarytable.rror.texdoc)
export(.summarytable.rrsc)
export(.summarytable.rrsc.html)
export(.summarytable.rrsc.tex)
export(.summarytable.rrsc.texdoc)
export(.summarytable.rrsi)
export(.summarytable.rrsi.html)
export(.summarytable.rrsi.tex)
export(.summarytable.rrsi.texdoc)
export(.summarytable.rrstr)
export(.summarytable.rrstr.html)
export(.summarytable.rrstr.tex)
export(.summarytable.rrstr.texdoc)
export(getPFTable)
export(IDRlsi)
export(IDRsc)
export(pf)
export(phiWt)
export(rr1)
export(RRlsi)
export(RRmh)
export(rrmp)
export(RRmpWald)
export(rror)
export(RRor)
export(RRotsst)
export(rrsc)
export(RRsc)
export(rrsi)
export(rrstr)
export(RRstr)
export(RRtosst)
export(rsb)
export(rsbWt)
export(tauWt)
S3method(print,rr1)
S3method(print,rrmp)
S3method(print,rror)
S3method(print,rrsc)
S3method(print,rrsi)
S3method(print,rrstr)
